<div class="col-sm-8 col-sm-offset-2">
	<h1 class="text-left">About <small>kenny server</small></h1>
	<p>
		Hi there,<br>
		<br>
		Kenny is a monitoring application created by <a href="https://www.linkedin.com/profile/view?id=317423686" target="__blank" class="no-follow">Jean-Christophe Queval-Bourgeois</a>.<br/>
		<br/>
		The application is clonable and forkable : <i><b><a href="https://bitbucket.org/evangelion007/kenny/" target="__blank" class="no-follow">https://bitbucket.org/evangelion007/kenny/</a></b></i>
	</p>
</div>