<div id="content">
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Kenny</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li data-view-menu="Homepage"><a href="#">Home</a></li>
					<li data-view-menu="About"><a href="#about">About</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>	
	<div class="container page-location"></div>
</div>