<div class="col-md-10 col-md-offset-1">
	<h1 class="text-center">
		Welcome to Kenny<br/>
		<small>Server list</small>
	</h1>
	<div class="col-md-10 col-md-offset-1 box-btn-action">
		<button type="button" data-action="goToAddServer" class="btn btn-success">Add</span></button>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="server-list-style">
			<table class="table table-hover">
				<thead>
					<tr>
						<td>Name</td>
						<td>OS</td>
						<td>Ping</td>
						<td>Kenny</td>
						<td>Status</td>
					</tr>
				</thead>
				<tbody class="server-list"></tbody>
			</table>
		</div>
	</div>
	<script type="text/template" id="templateServer">
		<tr data-target-id="<%- server.id %>" class="clickable">
			<td><%- server.name %></td>
			<td><%- server.info.os.type || '-' %></td>
			<td><%- server.info.latency || '-' %> ms</td>
			<td>
				<% if (server.info.kenny) { %>
				<span class="label label-success" style="display:block;text-align:center;">detected</span>
				<% } else { %>
				<span class="label label-danger" style="display:block;text-align:center;">unavailable</span>
				<% } %>
			</td>
			<td>
				<% if (server.info.online) { %>
				<span class="label label-success" style="display:block;text-align:center;">online</span>
				<% } else { %>
				<span class="label label-danger" style="display:block;text-align:center;">offline</span>
				<% } %>
			</td>
		</tr>
	</script>
</div>