<div class="col-sm-4 col-sm-offset-4 login-box">
	<h1 class="text-center">Welcome to Kenny</h1>
	<h4 class="text-center">Know which servers are down</h4>
	<form role="form">
		<div class="panel panel-warning panel-fix errorBox">
			<div class="panel-heading">
				<h3 class="panel-title">Warning !</h3>
			</div>
			<div class="panel-body"></div>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Username</label>
			<input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Check me out
			</label>
		</div>
		<button type="submit" class="btn btn-success col-sm-12">Submit</button>
	</form>
</div>