<div class="col-md-10 col-md-offset-1">
	<h1>New server</h1>
	<p>
		You just need to give an server address and the system will check if the server is up and if <code>kenny-server</code> is installed on the server.
	</p>
	<div class="col-md-6 col-md-offset-3">
		<div data-message="checklist-full">
			<div class="alert alert-success" role="alert">
				You're server is online and Kenny-client is detected on your server.
			</div>
		</div>
		<div data-message="checklist-half">
			<div class="alert alert-success" role="alert">
				You're server is online !
			</div>
			<div class="alert alert-info" role="alert">
				<code>kenny-client</code> is not detected on your server, you can install it to have more information on your server.<br/>
				<br/>
				<b>If <code>kenny-client</code> is installed</b> on your server, configure the port or check you <b>IPTABLES</b>.
			</div>
		</div>
		<div data-message="checklist-already-saved">
			<div class="alert alert-warning" role="alert">
				<b>You have already saved this server !</b><br/>
				Do you really want to save this server ?
			</div>
		</div>
		<div data-message="checklist-failed">
			<div class="alert alert-danger" role="alert">
				The server is unreachable :/<br/>
				Is it the good server address ?
			</div>
		</div>
		<form role="form">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon btn" data-action="submit" style="background-color:#449d44;color: #FFF;">
						<span class="ion ion-chevron-right"></span>
					</div>
					<input type="text" name="server_addr" class="form-control" id="newServerBBPageForm" placeholder="Write your server address">
				</div>
			</div>
		</form>
		<div class="text-right" data-message="add_server">
			<button type="button" class="btn btn-success" data-action="save-server">Save server</button>
		</div>
	</div>
</div>