<div class="col-md-10 col-md-offset-1">
	<h1 class="text-center">
		Server Information
	</h1>
	<div class="col-md-10 col-md-offset-1">
		<form class="form-horizontal">
			<h1>
				<small>Global Information</small>
			</h1>
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-target="name">Loading...</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Hostname</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-target="hostname">Loading...</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Kenny</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-target="kenny">Loading...</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Status</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-target="status">Loading...</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Latency</label>
				<div class="col-sm-10">
					<p class="form-control-static" data-target="latency">Loading...</p>
				</div>
			</div>
			<h1>
				<small>CPU Information</small>
			</h1>
			<div data-target="progress-bars">
				
			</div>
		</form>
	</div>
	<script type="text/template" data-template="progress">
		<div>
			<h3><span data-target="name"></span> <span data-target="speed" class="label label-default">New</span></h3>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					60%
				</div>
			</div>
		</div>
	</script>
</div>