body {
	/*background-image: url(../img/stop_killing_me.jpg);*/
	background-repeat: no-repeat;
	background-position: right bottom;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.login-box {
	margin-top: 48px;
	border: 1px #CCC solid;
	padding:5px;
	border-radius: 5px;
}

.clickable {
	cursor: pointer;
}

.login-box .panel-fix {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* 
** Sticky footer styles
** -------------------------------------------------- 
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  text-align: justify;
}

#content > .container {
  padding: 60px 15px 0;
}

/* 
** Server list sttle
** -------------------------------------------------- 
*/

.server-list-style {
	border: 1px solid #BBB;
	border-radius: 16px;
	background-color: #FFF;
	overflow: hidden;
}

.server-list-style .table {
	margin-bottom: 0px;
}

.server-list-style .table thead tr {
	background-color: #EEE;
	font-weight: bold;
}

.server-list-style .table thead td {
	text-align: left;
}

.box-btn-action {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 15px;
}